:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', monospace;

  --bg-color: #ffffff;
  --text-color: #000;

  --accent-color: #000;
  --heart-color: red;

  --content-width: clamp(320px, 80%, 700px);
}
